.option_next {
    font-size: 0;
    width: 10px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #EF4F69;
    margin: 0 auto;
}

.option_prev {
    width: 10px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #EF4F69;
    font-size: 0;
    margin: 0 auto;

}

.option_year {
    font-size: 13px;
    text-align: center;
    margin: 0;
}

.option_month {
    color: #495468;
    font-size: 16px;
    margin: 0;
}